.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.lContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    width: 300px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.lTitle{
    text-decoration: underline double #007bff;
}

.lInput {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.lInput:focus {
    border-color: #007bff;
}

.lButton {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.lButton:hover {
    background-color: #0056b3;
}

span {
    color: red;
    font-size: 14px;
    text-align: center;
}